.div_botao{
    width: 100px;
    height: 50px; 
    line-height: 50px;
    background-color:rgb(192, 233, 130);
    text-align: center;
}

/*MUDAR A COR QUANDO SELECIONA COM O MOUSE*/
.div_botao:hover{
    background-color: lightblue;
}

/*DEIXAR LISTA NA HORIZONTAL*/

li{
    float: left;
    list-style-type: none;
}

/*REMOVER SUBLINHADO*/
a{
    text-decoration: none;
}

/*DIV PRINCIPAL*/
.div_principal{
    width: 700px; 
    height: 350px;
    border: solid 5px black;
    background-color: rgb(18, 177, 18);
}

/*DIV MENU*/
.div_menu{
    width: 600px; 
    height: 50px; 
    border: solid 5px black; 
    margin-left: 45px;
    text-align: 50px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: white;
}

/*DIV CONTEUDO*/
.div_conteudo{
    width: 600px; 
    height: 150px; 
    border: solid 5px black; 
    margin-left: 45px;
    background-color: white;
}

/*DIV RODAPE*/
.div_rodape{
    width: 600px; 
    height: 50px; 
    border: solid 5px black; 
    margin-left: 45px;
    text-align: center;
    line-height: 50px;    
    font-weight: 700;
    background-color: white;
}

/*TH*/
th{
    border: solid 3px green;
    text-align: center;
    font-size: 25px;
}

/*TD*/
td{
    border: solid 2px black;
    text-align: center;
    font-size: 15px;
}